<h2>List of Heroes</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Persona</th>
      <th>Alias</th>
      <th>Super Power</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hero in heroes">
      <td><input class="form-control" type="text" ng-model="hero.persona"></td>
      <td><input class="form-control" type="text" ng-model="hero.alias"</td>
      <td>{{hero.name}}</td>
      <td><button class="btn btn-warning" ng-click="updateHero(hero)">Update</button></td>
      <td><button class="btn btn-danger" ng-click="deleteHero(hero)">Delete</button></td>
    </tr>
  </tbody>
</table>
